.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 1rem;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
}

.dots {
  width: 100%;
  margin-top: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dot {
  background-image: url("public/Images/SliderDot.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  height: 100%;
  cursor: pointer;
}

.activeDot {
  background-image: url("public/Images/SliderActiveDot.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  height: 100%;
  cursor: pointer;
}
